/* ========== Border Remove ========== */
.border-none {
  border: none;
}

.border {
  border-width: var(--border-width-thin);
  border-style: solid;
  border-color: var(--gray-600);
}

/* ========== Border Width ========== */
.border-thin {
  border-width: var(--border-width-thin);
} /* 1px */
.border-medium {
  border-width: var(--border-width-medium);
} /* 2px */
.border-thick {
  border-width: var(--border-width-thick);
} /* 4px */

/* ========== Border Style ========== */
.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

/* ========== Border Color ========== */
.border-default {
  border-color: var(--gray-600);
}

.border-black {
  border-color: var(--black);
}

.border-white {
  border-color: var(--white);
}

.border-gray-300 {
  border-color: var(--gray-300);
}

.border-gray-400 {
  border-color: var(--gray-400);
}

.border-gray-500 {
  border-color: var(--gray-500);
}

.border-gray-600 {
  border-color: var(--gray-600);
}

.border-warning {
  border-color: var(--color-error);
}

/* ========== Border Sides ========== */

.border-t {
  border-top: var(--border-width-thin) solid var(--gray-600);
}

.border-y {
  border-top: var(--border-width-thin) solid var(--gray-600);
  border-bottom: var(--border-width-thin) solid var(--gray-600);
}

.border-b {
  border-bottom: var(--border-width-thin) solid var(--gray-600);
}

.border-l {
  border-left: var(--border-width-thin) solid var(--gray-600);
}

.border-r {
  border-right: var(--border-width-thin) solid var(--gray-600);
}
