.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

/* hide only on specific devices */
.hide-mobile {
  display: block;
}

.hide-tablet {
  display: block;
}

.hide-desktop {
  display: block;
}

@media (width <= 767px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .hide-tablet {
    display: none !important;
  }
}

@media (width >= 1025px) {
  .hide-desktop {
    display: none !important;
  }
}

/* Show only on specific devices */
.show-mobile,
.show-tablet,
.show-desktop {
  display: none;
}

@media (width <= 767px) {
  .show-mobile {
    display: block !important;
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .show-tablet {
    display: block !important;
  }
}

@media (width >= 1025px) {
  .show-desktop {
    display: block !important;
  }
}
