/* Background Utility Classes */
.bg-transparent {
  background-color: transparent !important;
}

.bg-white {
  background-color: var(--white);
}

.bg-gray-50 {
  background-color: var(--gray-50);
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.bg-gray-300 {
  background-color: var(--gray-300);
}

.bg-gray-400 {
  background-color: var(--gray-400);
}

.bg-gray-500 {
  background-color: var(--gray-500);
}

.bg-gray-600 {
  background-color: var(--gray-600);
}

.bg-gray-700 {
  background-color: var(--gray-700);
}

.bg-gray-800 {
  background-color: var(--gray-800);
}

.bg-gray-850 {
  background-color: var(--gray-850);
}

.bg-gray-900 {
  background-color: var(--gray-900);
}

.bg-gray-950 {
  background-color: var(--gray-950);
}

.bg-black {
  background-color: var(--black);
}

/* Orange Work Utilities */
.bg-warning-light {
  background-color: #fd6a02;
}

.bg-warning-medium {
  background-color: #ff5000;
}

.bg-warning-dark {
  background-color: #fa5400;
}

/* Green Work Utilities */
.bg-success-light {
  background-color: #197e10;
}

.bg-success-medium {
  background-color: #128a09;
}

.bg-complete-dark {
  background-color: #007d48;
}

.bg-error-strong {
  background-color: #cc1922;
}

.bg-caution-medium {
  background-color: #f3be00;
}

.bg-info-light {
  background-color: #2762ec;
}

.bg-info-medium {
  background-color: #1a44ea;
}

.bg-info-dark {
  background-color: #1212125c;
}

.bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
