/* ========== Box Shadows ========== */
.shadow-low {
  box-shadow: var(--shadow-low);
} /* subtle shadow */
.shadow-medium {
  box-shadow: var(--shadow-medium);
} /* medium shadow */
.shadow-high {
  box-shadow: var(--shadow-high);
}
